<div class="container">
  <h1>Restaurants#show</h1>
  <h1><%= @restaurant.name %></h1>
  <h1><%= @restaurant.address %></h1>
  <h1><%= @restaurant.phone_number %></h1>
  <h1><%= @restaurant.category%></h1>
  <p>Find me in app/views/restaurants/show.html.erb</p>

  <h1>leave a review to this restaurant</h1>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>

  <h1><%= @restaurant.name %>'s reviews</h1>
  <% @restaurant.reviews.each do |review|%>
  <ul>
    <li>Rating: <%= review.rating %> </li>
    <li>Content: <%= review.content %> </li>
  </ul>
  <% end %>

  <%= link_to "Go back to index page", restaurants_path %>
</div>
